body{
    margin: 0;
}


.head{
    display: flex;
    flex-direction:row;
    align-items: center;
    background-color: #1E419D;
    height: 5.5rem;
    width: 100%;
    box-sizing: border-box;
    gap: 2.7rem;
    border-bottom:1px solid black;
    z-index: 9999;
    user-select: none;
}

.wf-logo{
    position: relative;
    height: 21vh;
    width: auto;
   
}

.navs{
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 5vh;
    color: white;
    align-items: center;
    font-family: 'Lilita One';
    font-size: 3.3vh;
    margin-right: 3vh;
    flex: 1;
    
}

.nav{
    text-shadow: 2px 4px 1px black;
}
.sign-in{
    display: flex;
    
    align-items: center;
    color: white;
    font-family: 'Lilita One';
    font-size: 3.3vh;
    border: 2px solid white;
    height: 6vh;
    border-radius: 8px;
    margin-right: 5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    user-select: none;
    min-width: 10vh;
}
.navs {
  display: flex;
  gap: 2rem;
  width: fit-content;
  color: white;
  font-family: 'Lilita One';
  font-size: 1.7rem;
  transition: opacity 0.3s ease;
}

.hamburger{
    display: none;
    
    
}

.menu-bar{
    z-index: 9998;
    visibility: hidden;
    
}


.sign-in-page{
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  background-image: url("bg.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.2s ease;
  user-select: none;
}

.sign-in-form{

  background-color: rgb(255,255,255,0.2);
  border: 0.5px solid white;
  width: 70vh;
  height: 62%;
  border-radius: 4px;
  
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lilita One';
  height: 100%;
  
  
  
}

#username,#password{
  width: 50vh;
  height: 5vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-color: white;
}

.form-input{
  display: flex;
  flex-direction: column;
  
}


#nav-sign-in{
  background-color: #1E419D;
  border-radius: 4px;
  width: 22vh;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  
}
#usernamel,#passwordl,#loginl,#fpasswordl,#createl{
  color: white;
}

#fpasswordl{
  position: relative;
  left: 15vh;
}

#loginl{
  font-size: 6vh;
  
}

#sign-in-navs{
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  width: 40vh;
  height: 20vh;
}
.fi2{
  margin-top: 3vh;
}




#length-passwordl,#required-usernamel{
  z-index: 999;
  font-size: 2vh;
  color: red;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}
#required-usernamel.muncul2{
  visibility:visible;
  opacity: 1;
  transition: opacity 0.3s ease;
}
#length-passwordl.muncul2{
  visibility:visible;
  opacity: 1;
  transition: opacity 0.3s ease;
}



@media (max-width: 550px) {
  .navs {
    visibility: hidden;   /* biar ga bisa diklik dan diliat */
    position: absolute;   
    top: 4rem;            
    flex-direction: column;
    background-color: #1E419D;
    text-align: center;
    padding: 1rem 0;
    z-index: 10000;
  }


  .hamburger {
    display: flex;
    visibility: visible;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    user-select: none;
    margin-right: 1rem;
  }

  .wf-logo{
    display: flex;
    height: 7rem;

  }
  
  .sign-in.s1{
    visibility: hidden;
  }

  .sign-in.s2{
    margin-left: 2rem;
    visibility: 1;
  }

  .menu-bar.show{
    transform: translateY(0);
    visibility: visible;
    transition: transform 1s ease;
  }
  .head{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: auto;
  } 
  .menu-bar{
    display: flex;
    background-color: #1E419D;
    flex-direction: column;
    gap: 1rem;
    height: fit-content;
    padding-bottom: 0.5rem;
    color: white;
    align-items: center;
    font-family: 'Lilita One';
    font-size: 3.3vh;
    transform: translateY(-100%);
    transition: transform 1s ease;
    user-select: none;
    padding-top: 1rem;
    
  }


  .sign-in-form{
    width: 43vh;
    margin-bottom: 20vh;
    height: 59vh;
  }

  #username,#password{
    width: 35vh;
  }

  #fpasswordl{
    left: 10vh;
  }
}


.muncul{
  visibility: visible;
  opacity: 1;
}



.hilang{
  display: none;
}