



.carousel-window{
    overflow: hidden;
    
    width: 57vh;
    
}

.carousel{
    display:flex;
    flex-direction: row;
    
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    justify-content: space-between;
    height: fit-content;
    gap: 5vh;
    transition: transform 0.5s ease;
}

.carousel-window img{
    height:40vh ;
    border: 2px solid black;
    
}


