



.carousel-window{
    overflow: hidden;
    
    width: 45vh;
    
}

.carousel{
    display:flex;
    flex-direction: row;
    
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    justify-content: space-between;
    height: fit-content;
    gap: 5vh;
    transition: transform 0.5s ease;
}


.carousel-window .card{
    width: 50vh;
    height: 80vh;
    background:wheat;
    border-radius: 18px;
    border: 1px solid gainsboro;
    
}
.garis_sidebar{
    display: flex;
    
    border-radius: 6px;
}

.garis_sidebar .dot{
    width: 48px;
    height: 8px;
    
    border: 0.5px solid black;
    background-color:gray;
}

.d1{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.d3{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.iklan{
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
}

