

.carousel{
    display: flex;
    flex-direction: row;
    gap: 100px;
    transition: transform 0.6s ease;
    perspective: 1000px;
    width: fit-content;
    
}

.carousel img{
    height: 40vh;

}

.carousel-window{
    height: 50vh;
    width: 50vh;
    overflow: hidden;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: start;
}

